# Default ignored files
/shelf/
/workspace.xml

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment configs
.env
*.env
oauth.json
.cache*
.token*
client_secret.json

# Ignore IDE/editor settings
.vscode/
.idea/

# macOS files
.DS_Store
